<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-dark text-white text-sm border-bottom-0"
	style="background: linear-gradient(90deg, rgba(25, 38, 186, 1) 0%, rgba(57, 151, 184, 1) 54%, rgba(0, 212, 255, 1) 100%);"
	th:fragment="adminHeaderFragment">
	<!-- Left navbar links -->
	<ul class="navbar-nav text-white">
		<li class="nav-item"><a class="nav-link " data-widget="pushmenu" href="#" role="button"><i
					class="fas fa-bars"></i></a></li>
		<li class="nav-item d-none d-sm-inline-block"><a href="/ad/home" class="nav-link">Quản trị viên</a></li>
		<li class="nav-item d-none d-sm-inline-block"><a href="/home" class="nav-link">DEVEX trang chủ</a></li>

	</ul>

	<!-- Right navbar links -->
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="/ad/message"> <i class="far fa-message fs-4"></i>

			</a>

		</li>
		<!-- Notifications Dropdown Menu -->
		<li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#"> <i
					class="far fa-bell fs-4"></i>
				<span class="badge badge-warning position-absolute top-0 translate-middle rounded-pill mt-2 ms-1"
					id="amountNotifications"></span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="overflow-y: scroll; height: 400px;"
				id="Notifications">
				<span class="dropdown-item dropdown-header">15 Notifications</span>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item"> <i class="fas fa-envelope mr-2"></i> 4 new messages <span
						class="float-right text-muted text-sm">3 mins</span>
				</a>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item"> <i class="fas fa-users mr-2"></i>
					8 friend requests <span class="float-right text-muted text-sm">12
						hours</span>
				</a>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item"> <i class="fas fa-file mr-2"></i>
					3 new reports <span class="float-right text-muted text-sm">2
						days</span>
				</a>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item dropdown-footer">See All
					Notifications</a>
			</div>
		</li>
		<li class="nav-item"><a class="nav-link" data-widget="fullscreen" href="#" role="button"> <i
					class="fas fa-expand-arrows-alt"></i>
			</a></li>
		<li class="nav-item"><a href="/logout"><button type="button" class="btn btn-block btn-danger btn-sm">Đăng
					xuất</button></a>
		</li>
	</ul>
	<div id="modelNotifications" class="modalNotifications">
		<div class="model-content">
			<div class="modal-header">
				<h5 class="modal-title">Tất cả thông báo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="model-body">
				<div class="modal-content" id="AllNotifications" style="overflow-y: scroll; height: 370px;"></div>
			</div>
		</div>
	</div>
</nav>
<!-- /.navbar -->