<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<div th:replace="~{flagment/admin/adminHead :: adminHeadFragment}"></div>
	<style>
		.product-name {
			max-width: 200px;
			/* Đặt giới hạn chiều rộng, ví dụ 200px */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#productTableBody {
			height: 200px;

		}
	</style>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="app">
	<div class="wrapper">
		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__wobble" src="/img/banner/logotitle.png" alt="AdminLTELogo" height="60" width="60">
		</div>

		<div th:replace="~{flagment/admin/adminHeader :: adminHeaderFragment}"></div>
		<div th:replace="~{flagment/admin/adminMainSidebar :: adminMainSidebarFragment}"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Quản lý hóa đơn</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/ad/home">Trang chủ</a></li>
								<li class="breadcrumb-item active">Hóa đơn</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<!-- Main content -->
			<section class="content" ng-controller="order">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<!-- Header -->
								<div class="card-header">
									<div class="row">
										<div class="form-group col-4">
											<label>Loại sản phẩm</label>
											<select id="status" class="form-control select2" style="width: 100%;"
												ng-change="getOrderStatus()" ng-model="selectedStatus"
												ng-options="status.id as status.name for status in statuss">
											</select>
										</div>
										<div class="form-group col-4">
											<label>Tìm kiếm</label>
											<div class="input-group mb-3">
												<input type="text" class="form-control" ng-model="search"
													ng-enter="searchOrder()"
													placeholder="Tìm kiếm theo mã hóa đơn hoặc người mua">
												<div class="input-group-append">
													<button class="input-group-text btn btn-success"
														ng-click="searchOrder()">
														<i class="fa-solid fa-magnifying-glass"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="col-4"></div>
									</div>
								</div>
								<!-- Body -->
								<div class="card-body">
									<table class="table table-hover mb-2">
										<thead>
											<tr>
												<th>Mã hóa đơn</th>
												<th>Tổng giá</th>
												<th>Ngày tạo</th>
												<th>Địa chỉ</th>
												<th>Người mua</th>
												<th>Phương thức thanh toán</th>
												<th>Edit</th>
											</tr>
										</thead>
										<tbody>
											<tr
												ng-repeat="order in listOrders.listOrder | pagination: currentPage * itemsPerPage | limitTo: itemsPerPage">
												<td>{{order.id}}</td>
												<td>{{ order.total | number:0 }} ₫</td>
												<td>{{ order.createdDay | date:'dd/MM/yyyy HH:mm' }}</td>
												<td class="product-name">{{order.address}}</td>
												<td>{{order.customerName}}</td>
												<td>{{order.paymentName}}</td>
												<td>
													<div class="btn-group btn-group-sm">
														<a href="/ad/order/details/{{order.id}}" class="btn btn-info">
															<i class="fas fa-eye"></i>
														</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="pagination text-right mt-2">
										<button class="btn btn-default border border-right-0 rounded-left"
											ng-disabled="currentPage == 0" ng-click="prevPage()">Previous</button>

										<button class="btn btn-white border rounded-0"
											ng-class="{ 'btn-primary': n == currentPage }"
											ng-repeat="n in range() track by $index"
											ng-click="setPage(n)">{{n+1}}</button>

										<button class="btn btn-default border border-left-0 rounded-right"
											ng-disabled="currentPage >= pageCount()-1"
											ng-click="nextPage()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="~{flagment/admin/adminFooter :: adminFooterFragment}"></div>
		<div th:replace="~{flagment/admin/adminFootLink :: adminFootLinkFragment}"></div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/js/admin/orderManage.js"></script>
	<script th:src="@{/js/admin/DWalletAdmin.js}"></script>
</body>

</html>